<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Metro Lab</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="Mosaddek" name="author"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-top">
    <div style="color:red">tes</div>
    <form method="POST" enctype="multipart/form-data" th:action="@{/test/updatePicSf}">
        <input type="file" name="uploadFile"/><br/>
        sfid:<input type="text" name="documentSfId"/><br/>
        <input type="submit" value="upload"/>
    </form>
</body>
<!-- END BODY -->
</html>