<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joyone.test.mapper.SfDocumentMapper">
    <select id="getSfDocument" parameterType="java.lang.String" resultType="com.joyone.test.entity.SfDocument">
        SELECT
              name,
              type,
              sfid,
              body
        FROM salesforce.document
        WHERE sfid = #{sfid}
    </select>
    
    <update id="updateDocument" parameterType="java.util.Map">
        update salesforce.document set name = #{name},type = #{type},body=#{body} WHERE sfid = #{sfid}
    </update>
</mapper>