<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joyone.test.mapper.SfQueryMapper">
    <select id="getSfUser" resultType="com.joyone.test.entity.SfUser">
        SELECT
              name,
              sfid
        FROM salesforce.user
    </select>

    <select id="testInfoCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM salesforce.testinfo__c
    </select>

    <select id="findOneTestInfo" resultType="com.joyone.test.entity.TestInfo">
        SELECT
            sfid,name__c
        FROM salesforce.testinfo__c
    </select>

</mapper>