<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joyone.test.mapper.TestUserMapper">
    <insert id="insertUsert" parameterType="java.util.List">
    insert into testuser (name,age)
    values
        <foreach collection="list" item="item" index="index" separator="," >
        (#{item.name},20)
         </foreach>
</insert>
</mapper>